       <div id="side-nav" class="rounded-corner">
          <ul>
            <li><a href="{{site.baseurl}}/" id="side-nav-1" title="Overview">Overview</a></li>
            <li><a href="{{site.baseurl}}/registration" id="side-nav-2" title="Registration">Registration</a></li>
            <li><a href="{{site.baseurl}}/program" id="side-nav-3" title="Program">Program</a></li>
            <li><a href="{{site.baseurl}}/speakers" id="side-nav-4" title="Featured Speaker">Featured Speaker</a></li>
            <li><a href="{{site.baseurl}}/workshop" id="side-nav-5" title="Workshop">Workshop</a></li>
            <li><a href="{{site.baseurl}}/posters" id="side-nav-6" title="Posters">Posters</a></li>
            <li><a href="{{site.baseurl}}/general-information"id="side-nav-8" title="General Information">General Information</a></li>
            <li><a href="{{site.baseurl}}/social" id="side-nav-9" title="Social Activities">Social Activities</a></li>
            <li><a href="{{site.baseurl}}/call-for-presentations"id="side-nav-10" title="Call for Presentations">Call for Presentations</a></li>
            <li><a href="{{site.baseurl}}/presenter-instructions"id="side-nav-11" title="Information for Presenters">Instructions for Presenters</a></li>
            <li><a href="{{site.baseurl}}/proceedings" id="side-nav-12" title="Proceedings">Proceedings</a></li>
            <li><a href="{{site.baseurl}}/sponsors" id="side-nav-13" title="Sponsors">Sponsors</a></li>
            <li><a href="{{site.baseurl}}/history" id="side-nav-16" title="Past Presenters">Past Presenters</a></li>
            <li><a href="{{site.baseurl}}/contact" id="side-nav-14" title="Contact Information">Contact Information</a></li>
            <li><a href="http://cos.name" id="side-nav-15" title="Captical of Statistics">Captical of Statistics</a></li>
          </ul>
        </div>